<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <i class="bi bi-gavel"></i> Online Bidding System
      <span class="text-warning">v1.0</span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">
            <i class="bi bi-house-door"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/item_list">
            <i class="bi bi-box-seam"></i> Items
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link login-trigger" href="/login">
            <i class="bi bi-person"></i> Login
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register">
            <i class="bi bi-person-plus"></i> Register
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
